@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Itim&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: Itim, cursive;
    font-weight: 300;
    color: #bee8cf;
    background-color: #ffffff;
    line-height: 1.6;
    letter-spacing: 2px;
}

p {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 300;
    color: #55504b;
    background-color: #ffffff;
    line-height: 1.6;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/hero-image2.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    border-color: #6d8c73;
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
    border: none;
}

section {
    font-family: Roboto, Helvetic, sans-serif;
    font-weight: 300;
    color: #55504b
}

div #general-info {
    margin-bottom: 50px;
}

div #bird-links {
    margin-bottom: 50px;
}

.content {
    margin: 5px 100px;
    padding: 5px 100px;
    border: none;
}

#what-are-birds {
    height: 400px;
    margin: 5px 200px;
}

#left-what-are {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#center-what-are {
    width: 33%;
    margin: 0 auto;
}

#right-what-are {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#where-are {
    height: 400px;
    margin: 5px 200px;
}

#left-where-are {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#center-where-are {
    width: 33%;
    margin: 0 auto;
}

#left-where-are {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#why-bother {
    height: 400px;
    margin: 5px 200px;
}

#left-why-bother {
    padding-top: 30px;
    width: 30%;
    float: left;
}

#right-why-bother {
    padding-top: 30px;
    width: 70%;
    float: right;
}

#activities {
    height: 400px;
    margin: 5px 200px;
}

#left-activities {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#center-activities {
    width: 33%;
    margin: 0 auto;
}

#right-activities {
    padding-top: 30px;
    width: 33%;
    float: right;
}

/*headings and logo */

header {
    margin: 0px;
    padding: 0px;
    border: none;
}

h1,
h2 {
    font-family: Girassol, cursive;

}

#logo {
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #ffffff;
    background-color: #291909;
    height: 70px;
    float: center;
    position: relative;
}

/* navigation links */


#nav {
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
}

#nav li {
    display: inline;
}

#nav a {
    display: inline-block;
    padding: 10px;
    color: #291909;
    text-decoration: none;
    font-weight: bold;
}

#nav a:hover {
    color: #ffffff;
    background-color: #291909;
}

/* birds.html */

/* bird links */

#bird-links {
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
}

#bird-links li {
    display: inline;
}

#bird-links a {
    display: inline-block;
    padding: 10px;
}

a {
    color: #3c7ba5;
    text-decoration: none;
    font-weight: bold;
}

#bird-links a:hover {
    color: #bee8cf;
}


#bird-links {
    color: #55504b;
    width: 100%;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 1.6;
}

#bird-links a {
    color: #6d8c73;
}

/* boxes for content */

.info {
    height: 600px;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #ffffff;
}

.bird-left {
    width: 50%;
    float: left;
}

.bird-right {
    width: 50%;
    float: right;
}

.bird-info-left {
    padding-top: 30px;
    width: 50%;
    float: left;
}

.bird-info-right {
    padding-top: 30px;
    width: 50%;
    float: right;
}

img {
    max-width: 100%;
    height: auto;
}


/* footer */



footer {
    font-family: Roboto, Helvetica, sans-serif;
    color: #291909;
    background-color: #fee3e0;
    width: absolute 100%;
    text-align: center;
    letter-spacing: 3px;
    margin: 0px;
    padding: 50px;
    border: none;
    line-height: 1.6;
    position: relative;
}


#bird-links-footer {
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
}

#bird-links-footer li {
    display: inline;
}

#bird-links-footer a {
    display: inline-block;
    padding: 10px;

    color: #291909;
    text-decoration: none;
    font-weight: bold;
}

#bird-links-footer a:hover {
    color: #bee8cf; 
}

/*
#bird-links-footer {
    color: #55504b;
    width: 100%;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 1.6;
}

#bird-links-footer a {
    color: #6d8c73;
}
*/
footer a {
    color: #ffffff;
}