@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap');

* {
    margin: 5px;
    padding: 5px;
    border: none;
}

body {
    font-family: Itim, Helvetica, sans-serif;
    font-weight: 300;
    color: #bee8cf;
    background-color: #ffffff;
}

p {
    font-family: Roboto, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

section {
    font-family: Roboto, Helvetic, sans-serif;
    font-weight: 300;
    color: #55504b
}

.info {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #ffffff;
}

/*headings and logo */

h1, h2 {
    font-family: Itim, Helvetica, sans-serif;
    color: #6d8c73;
}

#logo {
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin: 2px;
    padding: 0;
    border: none;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    color: #bee8cf;
    position: relative;
    float: center;
    text-align: center;
    margin: 2px;
    padding: 20px;
    border: none;
    background-color: #55504b;
    border-radius: 0px;
    width: 100%;
}

#menu a {
    color: #bee8cf;
}

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

/* footer */

footer {
    color: #ffffff;
    background-color: #55504b;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
}

footer a {
    color: #ffffff;
}
