@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Itim, Helvetica, sans-serif;
    font-weight: 300;
}

section {
    font-family: Roboto, Helvetic, sans-serif;
    font-weight: 300;
}